# third party forks
git+https://github.com/KarrLab/log.git#egg=log

# Karr Lab
git+https://github.com/KarrLab/bpforms.git#egg=bpforms
git+https://github.com/KarrLab/wc_onto.git#egg=wc_onto
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils
git+https://github.com/KarrLab/obj_model.git#egg=obj_model
git+https://github.com/KarrLab/wc_lang.git#egg=wc_lang
git+https://github.com/KarrLab/wc_kb.git#egg=wc_kb

# Karr Lab -- for tests
git+https://github.com/KarrLab/wc_analysis.git#egg=wc_analysis
git+https://github.com/KarrLab/wc_model_gen.git#egg=wc_model_gen
git+https://github.com/KarrLab/wc_kb_gen.git#egg=wc_kb_gen
git+https://github.com/KarrLab/wc_sim.git#egg=wc_sim
git+https://github.com/KarrLab/rand_wc_model_gen.git#egg=rand_wc_model_gen
git+https://github.com/KarrLab/wc_test.git#egg=wc_test
